<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>메인 메뉴</h1>
	<form th:action="@{/site/userList}" method="GET">
		<button type="submit">전체 유저 조회</button>
		<select name="command">
			<option value="ALL" selected="selected">ALL</option>
			<option value="SORT">SORT</option>
			<option value="PAGING">PAGING</option>
		</select>
	</form>
	
	<p>
		<a th:href="@{/site/classList}">전체 등급 조회</a>
	</p>
</body>
</html>