<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/userList.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
	<div class="pageTitle">
		<h3>전체 유저 목록</h3>
		<div>
			<a th:href="@{/site}" class="btn btn-primary">되돌아가기</a>
		</div>
		
		<div th:if="${users != null && users.totalElements > 0}">
			<p th:text="|전체 조회 회원 수: ${users.totalElements}명|"></p>
		</div>
	</div>
	
	<table class="table table-hover">
		<thead class="table-warning">
			<tr>
				<th>멤버 번호</th>
				<th>닉네임</th>
				<th>등급</th>
				<th>가입일자</th>
				<th>보유 마일리지</th>
				<th>월 평균 구매액(단위: 원)</th>
				<th>추천자</th>
			</tr>
		</thead>
		<tbody class="table-primary">
			<tr th:if="${users != null && users.size > 0}" th:each="user:${users}">
				<td th:text="${user.memberId}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.userClassInfoDto.className}"></td>
				<td th:text="${user.signUpDate}"></td>
				<td th:text="${user.mileage}"></td>
				
				<th:block th:if="${user.averPurchase != null && user.averPurchase != 0}">
					<td th:text="${user.averPurchase}"></td>
				</th:block>
				<th:block th:unless="${user.averPurchase != null && user.averPurchase != 0}">
					<td th:text="|-|"></td>
				</th:block>
				
				<th:block th:if="${user.recommBy != null}">
					<td th:text="${user.recommBy}"></td>
				</th:block>
				<th:block th:unless="${user.recommBy != null}">
					<td th:text="|-|"></td>
				</th:block>
				
			</tr>
			<tr th:unless="${users != null && users.size > 0}">
				<td th:text="조회 결과 없음" colspan="7"></td>
			</tr>
		</tbody>
	</table>
	
	<nav aria-label="Page navigation example">
  		<ul class="pagination justify-content-center">
  			<!-- 이전 버튼 시작 -->
  			<th:block th:if="${nav.currentPage - 1 > 0}">
  				<li class="page-item">
      				<a class="page-link" 
      					th:href="@{/site/userList(selectedPage=${nav.currentPage - 1})}"
      				>이전</a>
    			</li>
  			</th:block>
  			<th:block th:unless="${nav.currentPage - 1 > 0}">
  				<li class="page-item">
      				<a class="page-link disabled" href="#">이전</a>
    			</li>
  			</th:block>
  			<!-- 이전 버튼 끝 -->
  			<!-- 페이지 번호 버튼 구성 -->
  			<th:block th:each="page : ${#numbers.sequence(nav.startPage, nav.endPage)}">
  				<th:block th:if="${nav.currentPage == page}">
  					<li class="page-item active">
  				</th:block>
  				<th:block th:unless="${nav.currentPage == page}">
  					<li class="page-item">
  				</th:block>
  					<a class="page-link" 
  						th:href="@{/site/userList(selectedPage=${page})}"
      					th:text="${page}"
  					></a>
  				</li>
  			</th:block>
  			<!-- 페이지 번호 버튼 구성 끝 -->
  			<!-- 다음 버튼 구성 -->
  			<th:block th:if="${nav.currentPage + 1 <= nav.endPage}">
  				<li class="page-item">
      				<a class="page-link" 
      					th:href="@{/site/userList(selectedPage=${nav.currentPage + 1})}"
      				>다음</a>
    			</li>
  			</th:block>
  			<th:block th:unless="${nav.currentPage + 1 <= nav.endPage}">
  				<li class="page-item">
      				<a class="page-link disabled" href="#">다음</a>
    			</li>
  			</th:block>
  			<!-- 다음 버튼 구성 끝 -->
  		</ul>
	</nav>
</body>
</html>