<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<sql id="tableName">
		products
	</sql>
	<sql id="whereId">
		WHERE id=#{id}
	</sql>
	
	<select id="selectAll" resultType="pack.model.ProductDto">
		SELECT id, name, price, category FROM <include refid="tableName"/>
	</select>
	
	<insert id="insertOne" parameterType="pack.model.ProductDto">
		INSERT INTO products 
		VALUES (#{id}, #{name}, #{price}, #{category})
	</insert>
	
	<update id="updateOneProductName" parameterType="pack.model.ProductDto">
		UPDATE <include refid="tableName" /> SET name=#{name} <include refid="whereId" />
	</update>
	
	<delete id="deleteOne" parameterType="String">
		DELETE FROM <include refid="tableName" /> <include refid="whereId"/>
	</delete>

</mapper>